.nav {
  background-color: red;
  height: 4vw;
  position: sticky;
  display: flex;
  justify-content: center;
  
}
.nav p{
  font-weight: 700;
  margin-right: 7vw;
  cursor: pointer;
}
.nav p:last-child {
  margin-right: 0;
}